.mainvisual img{
  width: 100%;
  height: 100vh; /*viewport height:デバイスの表示領域の高さに対しての割合*/
  margin-bottom: 50px;
  object-fit: cover;
  object-position: center top;
}

.text-content{
  margin-bottom: 50px;
  text-align: center;
}

.img-content{
  display: flex;
  margin-bottom: 50px;
}

ul{
  list-style: none;
 }

.img-content li{
  width: calc(100%/3); /*calc:プロパティ値を指定する際に計算*/
}

.img-content li img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.btn{
  display: inline-block;
  padding: 20px 60px;
  border: solid 1px #000;
}

#footer{
  text-align: center;
}

.sns{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sns li{
  margin: 0 10px;
}

/* フォント、レスポンシブ対応未実装 */