@charset "utf-8";
body {
 margin: 0;
}
.flex {
 display: flex;
}

.clearfix::after{
  content: " ";
  display: block;
  clear: both;
}

.wrapper{
  width: 400px;
  margin: auto;
}

.center_content{
  width: 250px;
  height: 250px;
  float: left;
}

.center_content_left{
  width: 150px;
  height: 150px;
  float: left;
}

.red_box {
 width: 400px;
 height: 100px;
 background: #f00;
}
.green_box {
 width: 150px;
 height: 250px;
 background: #00ff1e;
 float: left;
}

.blue_box {
 width: 150px;
 height: 100px;
 background: #0093b7;
 float: left;
}

.yellow_box {
  width: 400px;
  height: 100px;
  background: #ffe600;
 }

 .pink_box{
   width: 150px;
   height: 50px;
   background: #cc00db;
   float: left;
 }

 .orange_box{
   width: 100px;
   height: 150px;
   background: #ff9e5b;
   float: left;
 }

 .brown_box{
   width: 250px;
   height: 100px;
   background: #8c2727;
   float: left;
 }