@charset "UTF-8";
body{
  /*font: 1.1em/1.3 sans-serif;*/
  /*width: 80%;*/
  /*height: 500px;*/
  padding: 8% 25%;
  margin: 0;
  background-color: #b1afaf;
  /*background-size: contain;*/
  }

.rounded-box{
  width: 600px;
  height: 400px;
  background-color: royalblue;
  /*border-radius: 50px 20px 30px 40px/ 100px 10px 60px 15px;*/
  border-top-left-radius: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 15px;
}

/*
p{
  margin: 0;
  background-color: black;
  color: white;
  text-align: justify;

border-bottom: solid 20px tomato;
border-top: inset 10px blue;
border-right: inset 10px blue;
}
*/