html{
  font-size: 100%;
}

body{
  color: #000
}

main{
  display: block;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

#header{
  max-width: 960px;
  height: 300px;
  margin: 0 auto;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.site-title{
  line-height: 1px;
}

#header ul{
  display: flex;
  padding: 10px 0;
}

#header li{
  margin-left: 20px;
}

#header li a{
  color: #000;
}

#header li a img{
  height: 20px;
}

.mainvisual{
  margin-bottom: 100px;
}

.mainvisual img{
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

.inner{
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  font-size: 0.9rem;
}

.cection-title{
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5rem;
}

#about ul{
  margin-bottom: 30px;
}

#about li:first-child{
  margin-bottom: 30px;
}

#works ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#works li{
  width: 30%;
  margin-bottom: 20px;
}

#news dl{
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #000;
  margin-bottom: 20px;
}

#news dt{
  width: 20%;
  padding: 15px;
  border-bottom: solid 1px #000;
  box-sizing: border-box;
}

#news dd{
  width: 80%;
  padding: 15px;
  border-bottom: solid 1px #000;
  box-sizing: border-box;
}